.container_questao_soma{
  font-family: 'Noticia Text';
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  margin: 16px 0px 0px 32px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
.num{
  font-family: 'Noticia Text';
  max-width: 300px;
  max-height: 30px;
  resize: none;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  margin: 0px 0px 0px 4px;
  text-align: center;
  display: flex;
  justify-content: center;
  border-color: lightgray;
}
  
.btn {
  background-image: url(img/save.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: 0px;
  height: 30px;
  width: 30px;
  float: left;
  margin-left: 5px;
  margin-top: 1px;
  cursor: pointer;
  z-index: 1;

  .btn:active {
  background-image: url(img/save_ok.png);
  }
}