.container_questao_vf_v2 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  color: #000000;
  font-family: 'Noticia Text';

  padding-top: 1px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  float: left;
  margin-top: 12px;

}

.num_vf1_2 {
  font-family: 'Noticia Text';
  max-width: 35px;
  max-height: 31px;
  resize: none;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #000000;
  margin: 0px 0px 0px 4px;
  float: left;
  display: flex;
  justify-content: center;
  border-color: lightgray;
}