.container_questao_vf_2 {
  display: block;
  color: #000000;
  font-family: 'Noticia Text';
  max-width: 26px;
  max-height: 26px;
  padding-top: 1px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  float: left;
  margin: 12px 12px -8px 70px !important;
  display: flex;
  justify-content: center;
}