/* Image component style */
.image_popup_center {
    position: relative;
    width: 84%;
    margin: 50px 68px 0px 68px;
    float: left;
    transition: all .3s;
    
    &.__ready {
        cursor: pointer;

        &:before {
            content: none;
        }

        .image_popup__content {
            .image_popup__img {
                display: none !important;
            }
            .image_popup__text {
                display: none !important;

                &.active {
                    position: absolute;
                    z-index: 99999999;
                    bottom: 0;
                    display: block !important;
                }
            }
        }

        .image_popup__final-content {
            display: block;

            &:before {
                content: '';
                position: absolute;
                bottom: -10px;
                left: 15px;
                background-color: #a30000;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 2px solid #fff;
                background-image: url(img/search.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 60%;
                z-index: 9;
                pointer-events: none;
            }

            .thumb-popup-img {
                display: block;
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                }
            }
        }
    }
    
    .image_popup__content {        
        .image_popup__img {
            position: relative;
            width: 100%;
            height: 500px;
            background-size: cover;
            overflow: initial !important;

            &:before {
                content: '';
                position: absolute;
                background-color: #a30000;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 2px solid #fff;
                background-image: url(img/search.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 60%;
                z-index: 9;
                bottom: -15px;
                left: 10px;
            }
        }

        .image_popup__text {
            color: #000000;
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 14px;
            padding: 15px 10px 10px 10px;
        }
    }

    .image_popup__final-content {
        display: none;
    }
}
