<div class="container_questao_dissertativa_item_2">
    <div class="label">
        <div class="arial">
            <div class="textarrow"></div>
        </div>
        <div class="size">
            <div class="textarrow"></div>
        </div>
        <div class="type">
            <div class="textB"></div>
            <div class="textI"></div>
            <div class="textU"></div>
        </div>
    </div>
    <fieldset>
        <textarea placeholder="Insira aqui a sua resposta." cols="80" rows="10"></textarea>
        <input class="btn_submit" type="submit" value="Enviar">
    </fieldset>
</div>